# Database
SPRING_DATABASE_USERNAME=user
SPRING_DATABASE_PASSWORD=*****************
SPRING_DATABASE_DATASOURCE_URL=jdbc:postgresql://database:5432

# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=***************;AccountKey=*****************************;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=Azure